@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body, html {
	padding: 0;
	margin: 0;
	font-size: 13px;
	background: black;
	background-image: url('images/black.png');
	color: lime;
	font-family: 'Source Code Pro', monospace;
	font-size: 12px;
}

img {
	max-width: 100%;
}

.page {
	padding: 24px;
	background-color: black;
	
}

.page h1:first-child {
	margin-top: 0;
}

.wrapper {
	margin: auto;
	margin-top: 24px;
	width: 753px;
}

.menu {
	text-align: center;
	margin-bottom: 24px;
	margin-top: 24px;
}

.menu a {
	color: lime;
}

.main {
	height: 426px;
	width: 559px;

	position: relative;
}

.main iframe {
	border: none;
	border: none;
	position: fixed;
	top: 200px;
	right: 70px;
	width: 559px;
	height: 426px;
}

h1, h2, h3, h4, h5 {
	font-size: 12px;
}

h1 {
	border-bottom: 1px solid lime;
}

h2 {
	border-bottom: 1px dotted lime;
}

a {
	color: red;
}

table {
	border-collapse: collapse;
}

td, th {
	vertical-align: top;
	border: 1px solid lime;
	padding: 3px 6px;
}

th {
	background: lime;
	color: black;
}

.width-50 {
	max-width: 50%;
}

.border {
	padding: 3px;
	border: 1px solid lime;
}

table.border-0 th, table.border-0 td {
    border: 0;
}

.border-0 {
    border: none;
}